@use './_mixins' as *
body
    margin-top: 0
.navbar
  background-color: rgba(33, 37, 41, 0.5) !important
  
  // Reset l'opacité pour tous les éléments enfants
  .navbar-brand, .navbarText a, .navbarText1
    opacity: 1 !important
    color: #ffffff !important
    text-decoration: none
  .navbarText
    display: inline-flex
    gap: 20%
    margin-left: -20%
  .navbarText1
    @include boutonheader
  .navbar-brand
    font-size: 30px
header
  position: relative
  height: 1000px
  background-image: url(../assets/img/hero-bg.jpg)
  background-attachment: fixed
  &::before
    content: ''
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    background-color: rgba(0, 0, 0, 0.356)
    z-index: 0
  .secHeader
    padding-top: 25%
    display: flex
    justify-content: center
    width: 100%
    gap: 12%
    #divHeader
      display: flex
      flex-direction: column
      width: 50%
      position: relative
      margin-left: -15%
      #pHeader
        color: white
        font-size: 70px
        font-weight: bold
        margin-bottom: 0
        #spanHeader
            color: rgb(205, 164, 93)
      #p1Header
        color: white
        align-self: flex-start
        font-size: 22px
        letter-spacing: 0.5px
        margin-top: 0
      #span1Header
        display: flex
        gap: 3%
      #btnHeader
        @include boutonheader
        color: white
    #div2Header
        padding-top: 5%
        .fa-solid
          margin-top: 10%
          color: white
          position: relative
          background-color: rgb(204, 163, 94)
          border-radius: 50%
          padding: 35px
          font-size: 30px
          box-shadow: 0px 0px 0px 10px rgba(204, 164, 94, 0.336)
          


.section1
  position: relative
  height: 900px
  background-image: url(../assets/img/about-bg.jpg)
  background-attachment: fixed
  &::before
    content: ''
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    background-color: rgba(0, 0, 0, 0.356)
    z-index: 0
  .GrandeDiv1
    @include flex
    z-index: 1
    position: relative
    .section1Text
      width: 50%
      height: 900px  
      @include flex
      flex-direction: column
      padding-left: 10%
      padding-right: 10%
      margin-left: -22%
      h2
        color: white  
      p
        color: white
        font-size: 20px
      #pItalicsec1
        font-style: italic
      #p1sec1
        margin-left: -30px
        .fa-check
          color: rgb(229, 184, 105)
          border: solid 1px rgb(229, 184, 105) 
          border-radius: 50% 
          font-size: 14px
          padding: 5px 
      #p2sec1
        margin-left: -50px
        .fa-check
          color: rgb(229, 184, 105)
          border: solid 1px rgb(229, 184, 105) 
          border-radius: 50% 
          font-size: 14px
          padding: 5px 
      #p3sec1
        .fa-check
          color: rgb(229, 184, 105)
          border: solid 1px rgb(229, 184, 105) 
          border-radius: 50% 
          font-size: 14px
          padding: 5px    
    .section1Img
      margin-left: 100px
      width: 35%
      height: 50vh
      background-image: url('../assets/img/about.jpg')
      background-size: cover
      margin-top: -100px
      border: solid 3px rgb(61, 65, 68)
      .corner-border
        border-top: solid 5px rgb(205, 164, 93)
        margin-top: 3%
        margin-left: 3%
        width: 10%
        height: 13%
        border-left: solid 5px rgb(205, 164, 93)
      .corner-border1
        position: relative
        top: 285px
        left: 575px
        border-bottom: solid 5px rgb(205, 164, 93)
        margin-bottom: 30px !important
        margin-right: 30px !important
        width: 10%
        height: 13%
        border-right: solid 5px rgb(205, 164, 93)
        
        

      
        

        
        
